<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center page-scroll" href="#">
        <span class="fa-stack fa-3x">
            <%= link_to image_tag("paintbucket.png"),root_path, class: "big-thumb" %>    
        </span>
      </div>
      <div class="col-lg-12 text-center">
        <span class="copyright">Copyright 2015&copy; Dysfunctional. All Rights Reserved
        </span>
      </div>
    </div>
  </div>
</footer>