<div class = "container my_box_center">
<% if @users != [] %> <!-- Can someone please explain this to me?-->
  <% @users.each do |f| %>
    <h3 class="text-center">Users You Follow:</h3>
    <a href="/users/<%= f.id %>"><p class="text-center"><%= f.first_name %> <%= f.last_name %></a></p>
  <% end %>
  <% else %>
  <h3 class="text-center">You aren't currently following any users.</h3>
<% end %>

</div>

