<% provide(:title, 'All Users') %>

<h1> All Users </h1>

<ul class = "all_users">
  <% @users.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>"<h3><%= user.first_name %> <%= user.last_name %></h3></a>
    </li>
  <% end %>
