<!--Search Adventure -->
<p id="notice"><%= notice %></p>

<h3>Search Users</h3>
<form class="form-group" action='/users/search_users' method='get'>
  <input class="form-control half-width" type="text" name="creator" id="user" /><br>
  <div class="actions">
    <input class="btn btn-default" type="submit" value="creator"/>
  </div>
</form>

<% if !@user.nil? %>
  <% if !@user.empty? %>
    <h3>Users found:</h3>
    <% @user.each do |user| %>
    <p><a href="/users/<%= user.id %>"><%= user.first_name &&  %></a></p></<br>
    <% end %>
  <% else %>
    <h3>No People Found</h3>
  <% end %>
<% end %>
