<div class="container-fluid martop">
    <div class="row">
        <div class="col-sm-6">
<h3 class="main-font lg-font marbot marleft">Edit Your Adventure</h3>
        </div>
    </div>
</div>
                      
            
<%= render 'form' %>

