<!--Search Adventure -->
<div class="container my_box_center_for_search">

<p id="notice"><%= notice %></p>

<h3>Seach Adventures</h3>
<form class="form-group" action='/adventures/search_adventures' method='get'>
  <input class="form-control half-width" type="text" name="adventure_title" id="adventure_title" /><br>
  <div class="actions">
    <input class="btn btn-default" type="submit" value="Search"/>
  </div>
</form>

<% if !@adventures.nil? %>
  <% if !@adventures.empty? %>
    <h3>Adventures found:</h3>
    <% @adventures.each do |adventures| %>
      <%= link_to adventures.title, adventures %><br>
    <% end %>
  <% else %>
    <h3>No Adventures Found</h3>
  <% end %>
<% end %>
</div>
