// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bucket {
	height: 30vh;
    width: 20vw;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/33/Skydiving_over_Cushing.jpg) center top no-repeat;
    background-size: cover;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    -webkit-shape-margin: 20px;
    -webkit-shape-outside: url(mask.png) top left;
    shape-outside: url(mask.png) top left;
}



