// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bucket {
    margin-bottom: 5vh;
    img {
        -webkit-clip-path: polygon(12% 0, 88% 0%, 75% 100%, 25% 100%);
        border: 10px solid #444;
        position: relative;
        width: 300px;
        height: 200px;
        text-align: center;
        overflow: hidden;
        z-index: 2;
        background-color: white;
    }
    h4, h5 {
        text-align: center;
        margin-left: 10px;
    }
     h4 {
        text-align: center;
    }
}

.tip:hover {
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}

.handle {
  width: 215px;
  height: 150px;
  border-radius: 50%;
  box-shadow: -1px -15px 0 0 #444;
  margin: 0 0 -110px 45px;
  z-index: -1;
}

div.fileinputs {
	position: relative;
}

input.file {
	position: relative;
    border: .5px solid #444;
    border-radius: 5%;
	text-align: right;
	z-index: 2;
    font-weight: 400;
    padding: 2px;
    display: inline;
}

#image_1, #image_2 ,#image_3, #image_4 {
    display: none;
}

.radio-buttons {
  display: none;
}

.profile-pic-submit {
  display: none;
}

#cancel {
  display: none;
}

.inline-div {
    float: left;
    display: inline-block;
    padding-right: 10px;
    .block-div {
        display: block;
        text-align: center;
        position: relative;
    }
}

img.edit_pic {
    width: 300px;
    height: 200px;
}

.margin {
    margin-top: 20%;
    left: 0;
}

.half-width {
    width: 50%;
}

.pointer:hover {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

a.image_tip {
  background-color: transparent;
}

a.image_tip:hover {
  background-color: transparent;
}
