// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bucket {
    margin-bottom: 5vh;
    img {
        -webkit-clip-path: polygon(12% 0, 88% 0%, 75% 100%, 25% 100%);
        border: 10px solid #444;
        position: relative;
        width: 300px; 
        height: 200px;
        text-align: center;
        overflow: hidden;
    }
    h4, h5 {
        text-align: center;
    }
     h4 {    
        text-align: center;
    } 
}

.tip:hover {
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}

.handle {
  width: 215px;
  height: 150px;
  border-radius: 50%;
  box-shadow: -1px -15px 0 0 #444;
  margin: 0 0 -110px 45px;
}

div.fileinputs {
	position: relative;
}

input.file {
	position: relative;
    border: .5px solid #444;
    border-radius: 5%;
	text-align: right;
	z-index: 2;
    font-weight: 400;
    padding: 2px;
    display: inline;
}

#image_1, #image_2 {
    display: none;
}

