/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */

/*Variables*/

$text_default: #000003;
$brand_color: #ee8012;
$brand_dark: #ee5000;
$text_highlight: #666666;
$bg_highlight: #e4e6dd;
$sm_fs: 10px;
$df_fs: 14px;
$md_fs: 22px;
$lg_fs: 36px;
$xlg_fs: 80px;
$font_fam: sans-serif;

 /*Sam Main Navigation Bar Styling*/

 .my_need_a_margin{
   margin-bottom: 50px;
 }
 .my_tiny_font {
   font-size: 10px;
 }
 .my_inline {
   display: inline;
 }

 .my_navbar {
   background-color: #ee8012;
   color: #e4e6dd;
 }

 .my_navbar_image {
   float: left;
   height: 50px;
   padding: 10px 10px;
 }

 .sign_in_buttons{
   margin-right: 10px;
 }
