

/* css for the centered box on: followPage.html.erb */

.my_box_center {
  background-color: #e4e6dd;
  border-radius: 10px;
  color: black;
  left: 50%;
  margin-top: 400px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
}

.my_box_center_mod {
  background-color: #e4e6dd;
  border-radius: 10px;
  color: black;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: center;
  margin-top: 25px;

}

/*css for centering search box*/
.my_box_center_for_search{
  background-color: #e4e6dd;
  border-radius: 10px;
  color: black;
  left: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.my_box_center_for_search_mod{
  background-color: #e4e6dd;
  border-radius: 10px;
  color: black;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  width: 50%;
  margin-top: 125px;
}
.my_box_center_for_sign_in{
  background-color: #e4e6dd;
  border-radius: 10px;
  color: black;
  left: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

/* css for show.html.erb (profile page)*/
/* top right section (profile pic, about me)*/
.my_user_profile_pic {
  /* this is just the box for the profile pic */
  border: 5px solid black;
  color: red;
  height: 200px;
  padding-left: 0;
}

.my_user_about_me {
  background-color:#e4e6dd;
  border-radius: 10px;
  padding: 20px;
}

.my_button_float_right{
  float: right;
  display: inline;

}

.my_box_for_image_upload{
  display:inline;
}

.my_headline_text {
  background-color: #e4e6dd;
  margin-bottom: 40px;
  margin-top: 20px;
  padding:5px;
  text-align: center;
}

.my_no_adventures_yet{
  text-align: center;
}

.user-search-image {
  width: 200px;
  height: 200px;
}

.transparent {
  background-color: transparent;
}

.transparent:hover {
  background-color: transparent;
}

body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 5em;
  font-family: 'Fjalla One', sans-serif;
}

h3 {
  font-size: 3em;
  font-family: 'Fjalla One', sans-serif;
}

h4 {
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}
