

/* css for the centered box on: followPage.html.erb */

.my_box_center {
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  left: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  }

/*css for centering search box*/
.my_box_center_for_search{
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  left: 50%;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* css for show.html.erb (profile page)*/
/* top right section (profile pic, about me)*/
.my_user_profile_pic {
  /* this is just the box for the profile pic */
  border: 5px solid black;
  color: red;
  height: 200px;
  padding-left: 0;
}

.my_user_about_me {
  background-color:lightgray;
  border-radius: 10px;
  padding: 20px;
}

.my_button_float_right{
  float: right;
  display: inline;

}

.my_box_for_image_upload{
  display:inline;
}

.my_headline_text {
  background-color: lightgray;
  margin-bottom: 40px;
  margin-top: 20px;
  padding:5px;
  text-align: center;

}

.my_no_adventures_yet{
  text-align: center;
}
