//Variables

$text_default: #000003;
$brand_color: #ee8012;
$brand_dark: #ee5000;
$text_highlight: #666666;
$bg_highlight: #e4e6dd;
$sm_fs: 10px;
$df_fs: 14px;
$md_fs: 22px;
$lg_fs: 36px;
$xlg_fs: 80px;
$font_fam: sans-serif;
